<div  class="container">
  <form action="" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="text-format-family pat-div-section"><strong>User Registration</strong></div>
      <hr class="pat-hr-margin">

      <div class="white-box-inner row" style="margin-bottom: 14px;">
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>User-Name</div>
	    <div class="col-md-12">
	      <input placeholder=" userprofilename" aj-localize name ="userprofilename"
		     class="form-control add-new" type="text"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>Contact No:</div>
	    <div class="col-md-12">
	      <input placeholder=" Conatct No:" aj-localize name ="contact_no"
		     class="form-control add-new" type="text"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
      </div>

      <div class="white-box-inner row" style="margin-bottom: 14px;">
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>First Name</div>
	    <div class="col-md-12">
	      <input placeholder=" First Name" aj-localize name ="first_name"
		     class="form-control add-new" type="text"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>Last Name</div>
	    <div class="col-md-12">
	      <input aj-localize placeholder="Last Name" aj-localize name ="last_name"
		     class="form-control add-new"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
      </div>
      <div class="white-box-inner row" style="margin-bottom: 14px;">
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>Date of Birth</div>
	    <div class="col-md-12">
	      <input aj-localize placeholder="MM/DD/YYYY" name ="dob_date"
		     class="form-control add-new datepicker" type="text"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
	<div class="col-sm-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12"
		 aj-localize>Email</div>
	    <div class="col-md-12">
	      <input aj-localize placeholder="Email" name ="email"
		     class="form-control add-new " type="text"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
      </div>
      <div class="white-box-inner row" style="margin-bottom: 14px;">
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>Password</div>
	    <div class="col-md-12">
	      <input placeholder=" password" aj-localize name ="password1"
		     class="form-control add-new" type="password"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
	<div class="col-md-6 patient-details-ul">
	  <li type="none">
	    <div class="form-lebel new-margin col-md-12" aj-localize>Confirm Password</div>
	    <div class="col-md-12">
	      <input aj-localize placeholder="Password" aj-localize name ="password2"
		     class="form-control add-new" type="password"/>
	    </div>
	    <div class="clearfix"></div>
	  </li>
	</div>
      </div>
    </div>
    <br>
    <div class="submitbut-checkot save-submitbut add-button-margin">
      <input type="submit" class="btn btn-primary" id="#save" style="margin-left: 47%;" onclick="save()">
      <button class="btn btn-primary" id="#clear" type="button">
	<span aj-localize >Cancel</span>
      </button>
      <br>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
